@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Solitreo&display=swap";
footer .redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
  font-family: "Poppins", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ------------------------------------------ */
/* index html  */
/* ------------------------------------------ */
h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.remarcado {
  font-weight: bold;
  font-style: italic;
}

.centrado {
  text-align: center;
}

.navbar {
  background-color: lightblue;
  font-family: "Solitreo", cursive;
  font-size: 26px;
  font-weight: bold;
}

footer {
  background-color: lightblue;
  margin: 5px;
  padding: 10px;
}

.principal {
  max-width: 80%;
  max-height: 60%;
  margin: 20px auto;
  padding: 20px 10px 20px;
  border: 1px solid #dadada;
  border-radius: 5px;
}
.principal img {
  width: 100%;
  border-radius: 5px;
}

/* ------------- */
/* historia html */
/* ------------- */
.titulo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.primeraParte {
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  padding: 0.1em;
}

.bernardita {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bernardita img {
  width: 100%;
  border: 1px solid rgb(233, 218, 196);
  margin-right: 11px;
}
.bernardita h3 {
  font-size: 15px;
}

.texto {
  line-height: 2.5rem;
  position: relative;
  z-index: 3;
  transition: all 3s;
}
.texto:hover {
  transform: rotate(360deg) scale(1.08) translate(0px);
  background-color: orange;
}

.card {
  border: 2px solid #e1793b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  margin-top: auto;
  font-size: larger;
}

.card-text {
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

.tres-fotos {
  display: flex;
  align-items: center;
  margin: auto;
}

.a2 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 3s;
}
.a2:hover {
  transform: scale(1.8) translate(100px);
  margin-top: 0;
  margin-bottom: 0;
}
.a2 .segunda .caption-content {
  color: black;
  font-size: 14px;
  margin: 1rem 2rem 1rem;
}
.a2 .segunda .caption-content:hover {
  color: #bdcfd4;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  opacity: 1;
}

.segunda {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: rgba(33, 37, 41, 0.2);
  border: 2px solid #e1793b;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 3s;
}

.italic {
  font-style: italic;
}

h4 {
  text-align: center;
  font-weight: bold;
}

h5 {
  text-align: center;
  font-weight: bold;
}

.a3 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 3s;
}
.a3:hover {
  margin-top: 0;
  margin-bottom: 0;
}
.a3 .tercera .caption-content {
  color: transparent;
  font-size: 14px;
  margin: 2rem 2rem 1rem;
  text-align: center;
}
.a3 .tercera .caption-content:hover {
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin-top: 1rem;
  opacity: 1;
}

.tercera {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(33, 37, 41, 0.2);
  top: 0;
  bottom: 0;
  transition: all 3s;
  border: 2px solid #e1793b;
}

.a5 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 3s;
}
.a5:hover {
  transform: scale(1.8) translate(-100px);
  margin-top: 0;
  margin-bottom: 0;
}
.a5 .quinta .caption-content {
  color: transparent;
  font-size: 14px;
  margin: 1rem 2rem 1rem;
}
.a5 .quinta .caption-content:hover {
  color: #bdcfd4;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  opacity: 1;
}
.a5 h4 {
  margin-top: 1rem;
}
.a5 p {
  font-family: "Solitreo", cursive;
  font-size: medium;
  padding: 0rem 1rem;
}

.quinta {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: absolute;
  background-color: rgba(33, 37, 41, 0.4);
  border: 2px solid #e1793b;
  top: 0;
  bottom: 0;
  transition: all 3s;
}

.segundaParte {
  display: flex;
  align-items: baseline;
}
.segundaParte figure {
  margin: 1rem 1rem;
}

/* ------------ */
/* lugares html */
/* ------------ */
.padreLugares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "inmaculada rosario sanpio";
  gap: 15px;
}

.lug1 {
  grid-area: inmaculada;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.lug1 img {
  width: 300px;
  height: 250px;
  border: 4px solid black;
  margin: 10px;
}
.lug1 div {
  width: 370px;
  margin: 10px;
}

.lug2 {
  grid-area: rosario;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.lug2 img {
  width: 300px;
  height: 250px;
  border: 4px solid black;
  margin: 10px;
}
.lug2 div {
  width: 370px;
  margin: 10px;
}

.lug3 {
  grid-area: sanpio;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.lug3 img {
  width: 300px;
  height: 250px;
  border: 4px solid black;
  margin: 10px;
}
.lug3 div {
  width: 370px;
  margin: 10px;
}

/* -------------- */
/* oraciones html */
/* -------------- */
.comoRezar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.padreOraciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
.padreOraciones img {
  width: 300px;
  margin: 40px;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 10px;
  border: 6px solid rgb(212, 58, 192);
}
.padreOraciones .second-image {
  height: auto;
  margin-left: 10px;
}
.padreOraciones p {
  font-size: 1rem;
  width: 400px;
}

.rezar {
  padding: 10px;
  margin: 20px;
  border: 5px solid rgb(212, 58, 192);
}

/* ---------------- */
/* actividades html */
/* ---------------- */
.bloque1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}

table {
  overflow: hidden;
  box-sizing: border-box;
  width: 66%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.align-middle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.separar {
  padding: 10px;
}

.video {
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  border: 5px solid brown;
}
.video iframe {
  margin: -7px;
}

/* ------------- */
/* contacto html */
/* ------------- */
.hoja_contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.map-frame {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
  width: 66%;
  height: 450px;
  border: 5px solid lightblue;
}
.map-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 48px;
  height: 48px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* breakpoint valor máximo para desktop */
@media (min-width: 768px) and (max-width: 1199.98px) {
  /* para página inicio */
  a .navbar-brand img {
    width: 92px;
  }
  h1 {
    font-size: 55px;
  }
  /* para página historia  */
  .bernardita h3 {
    margin-top: 10px;
  }
  .card {
    font-size: small;
  }
  .texto {
    line-height: 1.4rem;
  }
  .a2 .segunda .caption-content {
    margin-top: 1.5rem;
    font-size: 12px;
  }
  h4 {
    font-size: medium;
  }
  h5 {
    font-size: medium;
  }
  .a3 .tercera .caption-content {
    font-size: 12px;
    margin-top: 1.5rem;
  }
  .a3 .tercera .caption-content:hover {
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
  }
  .a5 h4 {
    margin-top: 10px;
  }
  .a5 .quinta .caption-content {
    margin: 0;
  }
  .a5 p {
    line-height: 1.3rem;
    font-size: small;
  }
  .container-fluid h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  .segundaParte img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .segundaParte .italic {
    font-size: 0.8rem;
    text-align: left;
  }
  /* para página lugares */
  .padreLugares {
    grid-template-columns: repeat(3, 0.5fr);
    gap: 10px;
  }
  .lug1 {
    margin-left: auto;
  }
  .lug1 img {
    width: 200px;
    height: 180px;
    border: 3px solid orange;
    margin: 5px;
  }
  .lug1 div {
    width: 220px;
    margin: 10px;
    font-size: 1rem;
  }
  .lug1 figcaption {
    font-size: medium;
  }
  .lug2 img {
    width: 200px;
    height: 180px;
    border: 3px solid orange;
    margin: 5px;
  }
  .lug2 div {
    width: 220px;
    margin: 10px;
    font-size: 1rem;
  }
  .lug2 figcaption {
    font-size: medium;
  }
  .lug3 img {
    width: 200px;
    height: 180px;
    border: 3px solid orange;
    margin: 5px;
  }
  .lug3 div {
    width: 220px;
    margin: 10px;
    font-size: 1rem;
  }
  .lug3 figcaption {
    font-size: medium;
  }
  /* para página oraciones */
  .padreOraciones {
    justify-content: space-evenly;
  }
  .padreOraciones img {
    width: 250px;
    border: 3px solid lightcoral;
  }
  .padreOraciones .second-image {
    display: none;
  }
  .padreOraciones p {
    margin-left: 20px;
    font-size: 1rem;
    width: 400px;
  }
  /* para página contacto */
  .hoja_contacto iframe {
    margin-bottom: 20px;
  }
  .comentario h4 {
    text-align: left;
  }
}
/* breakpoint valor máximo para tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  nav .container-fluid img {
    width: 100px;
    height: auto;
  }
  /* para página inicio */
  .titulo h1 {
    font-size: 42px;
  }
  .titulo h2 {
    font-size: 33px;
  }
  /* para página historia */
  .bernardita img {
    width: 80%;
  }
  .texto {
    width: 100%;
    line-height: 1.5rem;
    font-size: small;
    padding: 1.5rem 0.5rem 2rem 0.5rem;
  }
  .a2 {
    margin: 10px 70px;
  }
  .a2 .segunda .caption-content {
    font-size: 10px;
  }
  .a2:hover {
    transform: scale(1.8) translate(5px);
  }
  .a3 {
    margin: 10px 70px;
  }
  .a3 .tercera .caption-content p {
    font-size: 18px;
  }
  .a5 {
    margin: 10px 70px;
  }
  .a5:hover {
    transform: scale(1.7) translate(0px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .a5 h4 {
    font-size: 18px;
  }
  .a5 p {
    font-size: 16px;
  }
  .tercera .italic {
    font-size: 18px;
    font-style: italic;
  }
  .caption-content h4 {
    font-size: 18px;
  }
  .caption-content h5 {
    font-size: 18px;
  }
  .container-fluid h3 {
    font-size: 25px;
    text-align: center;
  }
  .segundaParte figure {
    margin: 1rem;
    margin-left: auto;
  }
  .segundaParte img {
    margin: 10px 100px;
  }
  /* para página lugares */
  .padreLugares {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-areas: "inmaculada rosario";
    gap: 5px;
  }
  .lug1 {
    margin-left: auto;
  }
  .lug1 img {
    width: 250px;
    height: 200px;
    border: 2px solid blue;
    margin: 5px;
  }
  .lug1 div {
    width: 270px;
    margin: 10px;
    font-size: 1rem;
  }
  .lug1 figcaption {
    font-size: medium;
  }
  .lug2 img {
    width: 250px;
    height: 200px;
    border: 2px solid blue;
    margin: 5px;
  }
  .lug2 div {
    width: 270px;
    margin: 10px;
    font-size: 1rem;
  }
  .lug2 figcaption {
    font-size: medium;
  }
  .lug3 {
    display: none;
  }
  /* para página oraciones */
  .comoRezar h1 {
    font-size: 37px;
  }
  .comoRezar h2 {
    font-size: 27px;
  }
  .rezar {
    font-size: 0.8rem;
    width: 70vw;
  }
  .padreOraciones {
    flex-direction: row-reverse;
  }
  .padreOraciones img {
    width: 200px;
    border: 3px solid blueviolet;
  }
  .padreOraciones .second-image {
    display: none;
  }
  .padreOraciones p {
    margin-left: 40px;
    font-size: 12px;
    width: 300px;
  }
  /* para página actividades */
  .video iframe {
    width: 500px;
    height: 417px;
  }
  /* para página contacto */
  .hoja_contacto {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  .hoja_contacto h2 {
    font-size: 20px;
  }
  .hoja_contacto img {
    width: 40px;
  }
  .hoja_contacto iframe {
    width: 463px;
    height: 350px;
  }
  .map-frame {
    margin: 0px;
    padding: 0px;
    height: 359px;
    border: 3px solid burlywood;
  }
  .map-frame iframe {
    margin: 0px;
  }
}
/* breakpoint valor máximo para celulares */
@media screen and (max-width: 575.98px) {
  .navbar-nav a {
    font-size: 0.8rem;
  }
  li img {
    width: 50px;
  }
  /* para página inicio */
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  /* para página historia */
  .bernardita img {
    width: 50%;
    margin-left: 40px;
  }
  .bernardita h3 {
    margin-left: 40px;
  }
  .card {
    margin-left: 20px;
    margin-left: 30px;
  }
  .texto {
    width: 100%;
    line-height: 1.5rem;
    font-size: small;
    padding: 1.5rem 0.5rem 2rem 0.7rem;
    transition: none;
    background-color: blanchedalmond;
  }
  .texto:hover {
    transform: none;
    background-color: blanchedalmond;
  }
  .a2 {
    margin: 10px 50px;
    transition: none;
  }
  .a2 img {
    width: 100%;
  }
  .a2:hover {
    transform: none;
  }
  .a2 .segunda {
    background-color: blanchedalmond;
  }
  .a2 .segunda .caption-content {
    font-size: 13px;
    text-align: center;
  }
  .a2 .segunda .caption-content:hover {
    color: black;
  }
  .a3 {
    margin: 10px 50px;
    transition: none;
  }
  .a3 img {
    width: 100%;
  }
  .a3 .tercera {
    background-color: blanchedalmond;
  }
  .a3 .tercera .caption-content {
    font-size: 16px;
    color: black;
    text-align: center;
  }
  .a5 {
    margin: 10px 50px;
    transition: none;
  }
  .a5 img {
    width: 100%;
  }
  .a5:hover {
    transform: none;
    transform: none;
  }
  .a5 .quinta {
    background-color: blanchedalmond;
  }
  .a5 .quinta .caption-content {
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
  .a5 .quinta .caption-content:hover {
    color: black;
  }
  .a5 .quinta .caption-content h4 {
    font-weight: 700;
  }
  .a5 p {
    font-size: 16px;
    line-height: 1.3rem;
    text-align: center;
  }
  .segunda {
    position: relative;
    transition: none;
  }
  .tercera {
    position: relative;
  }
  .tercera .italic {
    font-size: 18px;
    font-style: italic;
  }
  .quinta {
    position: relative;
    transition: none;
  }
  .caption-content h4 {
    font-size: 18px;
  }
  .caption-content h5 {
    font-size: 18px;
  }
  p {
    font-weight: 700;
  }
  .container-fluid h3 {
    font-size: 25px;
    margin-left: 20px;
  }
  .segundaParte figure {
    margin: auto;
  }
  .segundaParte img {
    width: 100%;
    margin-left: 15px;
  }
  .segundaParte .italic {
    text-align: center;
  }
  figcaption {
    margin: auto;
  }
  /* para página lugares */
  .padreLugares {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-areas: "none inmaculada" "none rosario";
    gap: 5px;
  }
  .lug1 {
    margin-left: auto;
  }
  .lug1 img {
    width: 200px;
    height: 150px;
    border: 1px solid blue;
    margin: 5px;
  }
  .lug1 div {
    width: 270px;
    margin: 10px;
    font-size: 0.8rem;
  }
  .lug2 {
    margin-left: auto;
  }
  .lug2 img {
    width: 200px;
    height: 150px;
    border: 1px solid blue;
    margin: 5px;
  }
  .lug2 div {
    width: 270px;
    margin: 10px;
    font-size: 0.8rem;
  }
  .lug3 {
    display: none;
  }
  /* para página oraciones */
  .padreOraciones {
    flex-direction: column;
  }
  .padreOraciones img {
    width: 150px;
    margin-bottom: 20px;
    border: 2px solid blue;
  }
  .padreOraciones .second-image {
    display: none;
  }
  .padreOraciones p {
    font-size: 14px;
    width: 300px;
  }
  /* para página actividades */
  table {
    width: auto;
    height: auto;
    margin-top: 45px;
  }
  table th {
    font-size: 0.8rem;
  }
  td {
    font-size: 0.8rem;
  }
  .video iframe {
    width: 70vw;
    height: auto;
  }
  /* para página contacto */
  .hoja_contacto {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  .hoja_contacto h2 {
    font-size: 15px;
  }
  .hoja_contacto iframe {
    width: 350px;
    height: 257px;
  }
  .navbar img {
    width: 100px;
  }
  .map-frame {
    margin: 0px;
    padding: 0px;
    height: 260px;
    border: 2px dashed blue;
  }
  .map-frame iframe {
    margin: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
